/* {
white: #EFE7E5;
deep dark red: #3D0103;
grey: #B0ACAB;
red: #9C1F20;
Black: #1C191B;
} */

/* Body */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  color: #1c191b;
  background-color: #efe7e5;
}

/* Nav */
nav {
  margin: 0;
  padding: 0;
}

nav ul {
  text-align: right;
  position: fixed;
  width: 100%;
  background-color: #3d0103;
}

nav ul li {
  display: inline-block;
  padding: 30px;
  margin-right: 20px;
  color: #efe7e5;
}

nav ul li a {
  color: #efe7e5;
  text-decoration: none;
}

nav ul li a:hover {
  color: #b0acab;
}

#welcome-section {
  display: block;
  padding-top: 45vh;
  min-height: 55vh;
  color: #efe7e5;
  background-color: #3d0103;
}

/* projects */
.twocolumns {
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  justify-content: center;
  }

.recent {
  display: flex;
  flex-direction: column;
}

.twoimages {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: center;
}

/* .bottomtwoimages {
  display: flex;
  flex-direction: column;
} */

.digitalcinema {
  display: flex;
  flex-direction: column;
}

.overview {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: center;
}

.digitalmediaprototype {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  justify-content: center;
}

.work-header {
  margin-top: 100px;
  margin-bottom: 75px;
  color: #9c1f20;
}

.project-pic {
  max-width: 300px;
  padding: 25px;
  padding-bottom: 0px;
}

iframe {
  padding: 25px;
  padding-bottom: 0px;
}

.project-title {
  padding-bottom: 25px;
}

/* starwars js */

.movie div {
  border: 2px solid green;
  width: 300px
}

/* contact */
.contactsection {
  background-color: #1C191B;
  display: block;
  padding-top: 100px;
  margin-top: 100px;
  /* padding-bottom: 50px; */
}

.contactheader {
  margin-bottom: 75px; 
  color: #EFE7E5;
}

.contact-details {
  display: inline-block;
  font-weight: bold;
  margin: 0 35px 45px 35px;
  list-style-type: none;
  border: 10px solid #EFE7E5;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  background: #EFE7E5;
  color: #9C1F20;
  text-decoration: none;
}



/* footer */
footer {
  background-color: #1C191B;
  Color: #EFE7E5;
  padding-top: 25px;
  padding-bottom: 50px;
}

/* media query */

@media only screen and (max-width: 600px) {
  nav ul {
    text-align: center;
  }
  nav ul li {
    margin-right: 20px;
  }
  .twocolumns {
    justify-content: space-around;
  }
}

@media only screen and (max-width: 367) {
  nav ul {
    text-align: center;
  }
  nav ul li {
    margin-right: 0px;
  }
  .twocolumns {
    justify-content: space-around;
  }
}
