:root {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #F9FDFF;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  /* Nav */
  nav {
    margin: 0;
    padding: 0;
  }
  
  nav ul {
    text-align: right;
    position: fixed;
    width: 100%;
    /* background-color: #00001D; */
    background-image: url(../data/starwarsproject_images/Star-Background.jpg);
  }
  
  nav ul li {
    display: inline-block;
    padding: 30px;
    margin-right: 20px;
    color: #F9FDFF;
  }
  
  nav ul li a {
    color: #F9FDFF;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    color: #D2E2D5;
  }

  .intro {
    display: block;
    padding-top: 20vh;
    min-height: 30vh;
    color: #F9FDFF;
    background-image: url(../data/starwarsproject_images/Star-Background.jpg);
  }

  /* body */

main {
  min-height: 30vh;
}

.gender {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 75px;
}

.gender button {
    font-size: 24px;
    background-color: #00001D;
    color: #F9FDFF;
    border-radius: 10px;
    border: 0px;
    padding: 10px; 
    flex-grow: 1;
}

#female {
  margin: 0px 25px 0px 25px;
}

.gender button:hover {
  color: #D2E2D5;
}

.gallery a > img {
  flex-wrap: wrap;
    height: 18rem;
    margin: 4px;
}

/* footer */
footer {
  background-color: #00001D;
  Color: #F9FDFF;
  padding-top: 25px;
  padding-bottom: 50px;
}

footer a {
  color: #E47777;
    text-decoration: none;
}

footer a:hover {
  color: #F9FDFF;
}


/* media query */

  @media only screen and (max-width: 600px) {
    nav ul {
      text-align: center;
    }
    nav ul li {
      margin-right: 20px;
    }
    .twocolumns {
      justify-content: space-around;
    }
  }
  
  @media only screen and (max-width: 367) {
    nav ul {
      text-align: center;
    }
    nav ul li {
      margin-right: 0px;
    }
    .twocolumns {
      justify-content: space-around;
    }
  }
  