* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  background-color: #FFFFFF;
}

html {
  scroll-behavior: smooth;
}

/* Nav */
nav {
  margin: 0;
  padding: 0;
}

nav ul {
  text-align: right;
  position: fixed;
  width: 100%;
  background-color: #22427A;
}

nav ul li {
  display: inline-block;
  padding: 30px;
  margin-right: 20px;
  color: #FFFFFF;
}

nav ul li a {
  color: #FFFFFF;
  text-decoration: none;
}

nav ul li a:hover {
  color: #F4D654;
}

.intro {
  display: block;
  padding-top: 45vh;
  min-height: 55vh;
  background-image: url(../Data/Congressprojectimages/senate_chamber.jpg);
  background-size: cover;
}

.title {
    background-color: rgba(35, 67, 123, 0.5);
    color: #FFFFFF;
    padding: 25px 0px 25px 0px;
}

/* Sections */
.senators {
display: flex;
flex-flow: row wrap;
flex-direction: row;
justify-content: center;
}

.project-pic {
max-width: 300px;
padding: 25px;
padding-bottom: 0px;
}

iframe {
padding: 25px;
padding-bottom: 0px;
}

.project-title {
padding-bottom: 25px;
}

/* footer */
footer {
background-color: #22427A;
Color: #FFFFFF;
padding-top: 25px;
padding-bottom: 50px;
}

footer a {
color: #F4D654;
  text-decoration: none;
}

footer a:hover {
color: #FFFFFF;
}

/* media query */

@media only screen and (max-width: 600px) {
  nav ul {
    text-align: center;
  }
  nav ul li {
    margin-right: 20px;
  }
  .twocolumns {
    justify-content: space-around;
  }
}

@media only screen and (max-width: 367) {
  nav ul {
    text-align: center;
  }
  nav ul li {
    margin-right: 0px;
  }
  .twocolumns {
    justify-content: space-around;
  }
}
