/* {
---old page colors---
white: #EFE7E5;
deep dark red: #3D0103;
grey: #B0ACAB;
red: #9C1F20;
Black: #1C191B;

---main page colors---
Dark Purple: #221127;
Dark Matt Purple: #6A4C73;
Purple: #723673;
Light Matt Purple: #ae8daf;
Light Purple: #e1cee2;

---zoo colors---
Dark Red: #3F0610;
Light Blue: #4FDBFF;
Creamy baige: #F2D6A6;
Dull Orange: #C05111;
Hot Red: #E11B19;

*/

/* Body */
* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    text-align: center;
    color: #3F0610;
    background-color: #C05111;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  /* Nav */
  nav {
    margin: 0;
    padding: 0;
  }
  
  nav ul {
    text-align: left;
    position: fixed;
    width: 100%;
    background-color: #F2D6A6;
  }
  
  nav ul li {
    display: inline-block;
    padding: 20px;
    margin-left: 20px;
    color: #3F0610;
  }
  
  .logo{
    max-width: 60px;
    max-height: 60px;
  }
  
  nav ul li a {
    color: #3F0610;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    color: #C05111;
  }
  
  #welcome-section {
    display: block;
    padding-top: 15vh;
    min-height: 15vh;
    color: #F2D6A6;
    background-color: #3F0610;
  }

  
  /* Pages Nav */

  .exhibits {
    margin: 0;
    padding: 0;
  }  

  .exhibits ul {
    text-align: center;
    position: top;
    width: 100%;
    background-color: #3F0610;
  }
  
  .exhibits ul li {
    display: inline-block;
    padding: 15px;
    margin-left: 15px;
    color: #F2D6A6;
  }
  
  .exhibits ul li a {
    color: #F2D6A6;
    text-decoration: none;
  }
  
  .exhibits ul li a:hover {
    color: #C05111;
  }

  .vrcontent {
    margin: 0;
    padding: 0;
  }  

  .vrcontent ul {
    text-align: center;
    position: top;
    width: 100%;
    background-color: #F2D6A6;
  }
  
  .vrcontent ul li {
    display: inline-block;
    padding: 20px;
    margin-left: 20px;
    color: #3F0610;
  }
  
  .vrcontent ul li a {
    color: #3F0610;
    text-decoration: none;
  }
  
  .vrcontent ul li a:hover {
    color: #C05111;
  }

  /* Pages Content */

  .pagecontent{
    justify-content: center;
    margin: 0px ;
    padding: 0px;
  }

  /*
  iframe {
    padding: 25px;
    padding-bottom: 0px;
  }
  */

  /* footer */
  footer {
    background-color: #3F0610;
    Color: #F2D6A6;
    padding-top: 25px;
    padding-bottom: 50px;
  }

  footer a {
    color: #C05111;
  }

  footer a:hover {
    color: #F2D6A6;
  }
  
  /* media query */
  
  @media only screen and (max-width: 600px) {
    nav ul {
      text-align: center;
    }
    nav ul li {
      margin-right: 20px;
    }
    .twocolumns {
      justify-content: space-around;
    }
  }
  
  @media only screen and (max-width: 367) {
    nav ul {
      text-align: center;
    }
    nav ul li {
      margin-right: 0px;
    }
    .twocolumns {
      justify-content: space-around;
    }
  }
  