* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #FFF;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  /* Nav */
  /* nav {
    margin: 0;
    padding: 0;
  }
  
  nav ul {
    text-align: right;
    position: fixed;
    width: 100%;
    background-color: #345EAD;
  }
  
  nav ul li {
    display: inline-block;
    padding: 30px;
    margin-right: 20px;
    color: #FCCC01;
  }
  
  nav ul li a {
    color: #F9FDFF;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    color: #D2E2D5;
  } */

  .intro {
    display: block;
    /* padding-top: 35vh; */
    min-height: 87vh;
    background-image: url(../MyPortfolio_Images/pokemonoriginal.jpg);
    background-size: cover;
  }

  /* .title {
    background-color: rgba(52, 94, 173, 0.5);
    color: #FCCC01;
    padding: 25px 0px 25px 0px;
  } */

/* Sections */
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 25px 100px;
}

button {
  font-size: 24px;
  background-color: #2F5ABA;
  color: #FFC900;
  border-radius: 10px;
  border: 0px;
  padding: 10px;
  flex-grow: 1;
  margin: 15px;
}

button:hover {
  background-color: #2C1C82;
}

.pokemonGrid {
  margin: 0px 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.scene {
  width: 200px;
  height: 260px;
  /* border: 1px solid #cccccc; */
  margin: 10px;
  perspective: 600px;
  border-radius: 30px;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card_face {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #FFC900;
  text-align: center;
  font-weight: bold;
  backface-visibility: hidden;
  border-radius: 30px;
}

.card_face--front {
  background: #2F5ABA;
}

.card_face--back {
  background: #2C1C82;
  transform: rotateY(180deg);
}

li {
  text-align: left;
  margin: 25px;
  /* list-style: inside url('/pokemonproject/pokeimages/pokemon.svg'); */
  list-style: none;
}

/* footer */
footer {
  background-color: #2F5ABA;
  Color: #FFF;
  padding-top: 25px;
  padding-bottom: 50px;
}

footer a {
  color: #FFC900;
    text-decoration: none;
}

footer a:hover {
  color: #FFF;
}

/* media query */

  @media only screen and (max-width: 600px) {
    nav ul {
      text-align: center;
    }
    nav ul li {
      margin-right: 20px;
    }
    .twocolumns {
      justify-content: space-around;
    }
  }
  
  @media only screen and (max-width: 367) {
    nav ul {
      text-align: center;
    }
    nav ul li {
      margin-right: 0px;
    }
    .twocolumns {
      justify-content: space-around;
    }
  }
  